.nav {
  grid-area: n;
  background-color: rgb(178, 99, 243);
  padding: 20px;
}

.item {
  color: white;
  text-decoration: none;
}

.active {
  color: gold;
  text-decoration: none;
}

.friends {
  display: flex;
  justify-content: space-between;
}